# Couldn't automatically generate a config from your source code.
# This is a generic template to serve as a base for your custom config
# See: https://circleci.com/docs/configuration-reference
version: 2.1
jobs:
  test-ubuntu-shared-lib:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: setup ubuntu
          command: |
            apt-get update 
            apt-get -y upgrade 
            apt install sudo
      - run:
          name: config tzdata
          command: DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt-get -y install tzdata
      - run: 
          name: setup library
          command: /bin/bash ./scripts/pre-installer/linux/debian/preinstaller.sh 
      - run:
          name: build project with test for shared lib
          command: cmake -S ./ -B ./build -DRUN_TEST=1 -DBUILD_SHARED_LIBS=1 && cmake --build ./build
      - run:
          name: run test
          command: build/out/engine_test --gtest_output="xml:build/test-results.xml"
      - store_artifacts:
          path: build/test-results.xml
      - store_test_results:
          path: build/test-results.xml
  test-ubuntu-static-lib:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: setup ubuntu
          command: |
            apt-get update 
            apt-get -y upgrade 
            apt install sudo
      - run:
          name: config tzdata
          command: DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt-get -y install tzdata
      - run: 
          name: setup library
          command: /bin/bash ./scripts/pre-installer/linux/debian/preinstaller.sh 
      - run:
          name: build project with test for shared lib
          command: cmake -S ./ -B ./build -DRUN_TEST=1 -DBUILD_SHARED_LIBS=0 && cmake --build ./build
      - run:
          name: run test
          command: build/out/engine_test --gtest_output="xml:build/test-results.xml"
      - store_artifacts:
          path: build/test-results.xml
      - store_test_results:
          path: build/test-results.xml
  test-fedora-shared-lib:
    docker:
      - image: fedora:39
    steps:
      - checkout
      - run:
          name: Install packages
          command: /bin/bash ./scripts/pre-installer/linux/redhat/preinstaller.sh 
      - run:
          name: build project with test for shared lib
          command: cmake -S ./ -B ./build -DRUN_TEST=1 -DBUILD_SHARED_LIBS=1 && cmake --build ./build
      - run:
          name: run test
          command: build/out/engine_test --gtest_output="xml:build/test-results.xml"
      - store_artifacts:
          path: build/test-results.xml
      - store_test_results:
          path: build/test-results.xml
  test-fedora-static-lib:
    docker:
      - image: fedora:39
    steps:
      - checkout
      - run:
          name: Install packages
          command: /bin/bash ./scripts/pre-installer/linux/redhat/preinstaller.sh 
      - run:
          name: build project with test for shared lib
          command: cmake -S ./ -B ./build -DRUN_TEST=1 -DBUILD_SHARED_LIBS=0 && cmake --build ./build
      - run:
          name: run test
          command: build/out/engine_test --gtest_output="xml:build/test-results.xml"
      - store_artifacts:
          path: build/test-results.xml
      - store_test_results:
          path: build/test-results.xml
  build-docs:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: setup ubuntu
          command: |
            apt-get update 
            apt-get -y upgrade 
            apt install sudo
      - run:
          name: config tzdata
          command: DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt-get -y install tzdata
      - run:
          name: install doxygen and graphviz
          command: apt-get -y install doxygen graphviz
      - run: 
          name: setup library
          command: /bin/bash ./scripts/pre-installer/linux/debian/preinstaller.sh 
      - run:
          name: build project with test for shared lib
          command: cmake -S ./ -B ./build -DBUILD_DOC=1 -DBUILD_SHARED_LIBS=1 && cmake --build ./build --target EngineDoc
      - store_artifacts:
          path: build/html/
workflows:
  test:
    jobs:
      - test-ubuntu-shared-lib:
          filters:
            branches:
              only:
                - main
                - development 
      - test-ubuntu-static-lib:
          filters:
            branches:
              only:
                - main
                - development 
      - test-fedora-shared-lib:
          filters:
            branches:
              only:
                - main
                - development 
      - test-fedora-static-lib:
          filters:
            branches:
              only:
                - main
                - development 
      - build-docs:
          requires: 
            - test-ubuntu-shared-lib
            - test-ubuntu-static-lib
            - test-fedora-shared-lib
            - test-fedora-static-lib
          filters:
            branches:
              only:
                - main
                - development