# Couldn't automatically generate a config from your source code.
# This is a generic template to serve as a base for your custom config
# See: https://circleci.com/docs/configuration-reference
version: 2.1
jobs:
  test-ubuntu-shared-lib:
    docker:
      - image: ubuntu:20.04
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: setup ubuntu
          command: |
            apt-get update 
            apt-get -y upgrade 
            apt install sudo
      - run:
          name: config tzdata
          command: DEBIAN_FRONTEND=noninteractive TZ=Etc/UTC apt-get -y install tzdata
      - run: 
          name: setup library
          command: /bin/bash ./scripts/pre-installer/linux/debian/preinstaller.sh 
      - run:
          name: Update cmake v3.29.0
          command: |
            sudo apt-get install -y wget libssl-dev
            wget http://www.cmake.org/files/v3.29/cmake-3.29.0.tar.gz
            tar xvf cmake-3.29.0.tar.gz
            cd cmake-3.29.0
            ./configure
            sudo make install
      - run:
          name: build project with test for shared lib
          command: cmake -S ./ -B ./build -DRUN_TEST=1 -DBUILD_SHARED_LIBS=1 && cmake --build ./build
      - run:
          name: run test
          command: ctest --output-on-failure --output-junit test-results.xml --test-dir ./build
      - store_test_results:
              path: build/test-results.xml
workflows:
  test:
    jobs:
      - test-ubuntu-shared-lib
