# Couldn't automatically generate a config from your source code.
# This is a generic template to serve as a base for your custom config
# See: https://circleci.com/docs/configuration-reference
version: 2.1
jobs:
  test-ubuntu:
    docker:
      - image: ubuntu:20.04
    environment:
      DEBIAN_FRONTEND: noninteractive
      TZ: Etc/UTC 
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: setup ubuntu
          command: apt update; apt install sudo

      - run: 
          name: setup library
          command: /bin/bash ./scripts/pre-installer/linux/debian/preinstaller.sh 
workflows:
  test:
    jobs:
      - test-ubuntu
