# Couldn't automatically generate a config from your source code.
# This is a generic template to serve as a base for your custom config
# See: https://circleci.com/docs/configuration-reference
version: 2.1
jobs:
  test-ubuntu:
    machine:
      image: ubuntu-2204:current
    resource_class: arm.medium
    steps:
      - checkout
      # Replace this with a real test runner invocation
      - run:
          name: setup ubuntu
          command: sudo apt update & sudo apt upgrade
workflows:
  test:
    jobs:
      - test-ubuntu
